appdirs==1.4.4
appnope==0.1.2
backcall==0.2.0
certifi==2020.11.8
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.0
numpy==1.19.4
pandas==1.1.4
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2020.11.15
prompt-toolkit==3.0.14
ptyprocess==0.7.0
pyaes==1.6.1
pyasn1==0.4.8
Pygments==2.7.3
python-dateutil==2.8.1
pytz==2020.4
pyzmq==22.0.2
rsa==4.6
six==1.15.0
Telethon==1.17.5
tornado==6.1
traitlets==5.0.5
virtualenv==20.1.0
virtualenv-clone==0.5.4
wcwidth==0.2.5
